#num1,#num2,#num3,#num8,#num9,#num10,#num12,#num13, #num14,#num15,#num19 { background: #58D68D; }  /*verde*/

#num22,#num28,#num29,#num30,#num34,#num35,#num36,#num38, #num39,#num40,#num41 { background: #58D68D; }  /*verde*/

#num42,#num44,#num47,#num48,#num49,#num54,#num56 { background: #58D68D; }  /*verde*/
