#num10,#num11,#num12,#num13,#num14,#num15,#num16, #num18,#num19,#num20 { background: #58D68D; }  /*verde*/

#num21,#num23,#num25,#num26,#num27,#num30,#num33,#num34, #num35,#num36,#num37 { background: #58D68D; }  /*verde*/

#num39,#num40,#num41,#num42,#num44,#num45,#num48,#num50, #num54,#num55,#num56,#num57 { background: #58D68D; }  /*verde*/
