
#num1,#num2,#num3,#num5,#num10,#num11,#num12,#num13,#num14,#num15,#num16,#num17,#num18 { background: #58D68D; }  /*verde*/
#num19,#num20,#num21,#num22,#num23,#num25,#num26,#num27,#num28,#num29,#num30,#num31,#num34 { background: #58D68D; }  /*verde*/

#num35,#num36,#num39,#num40,#num41,#num42,#num43,#num44,#num47,#num49,#num50,#num54,#num56,#num57 { background: #58D68D; }  /*verde*/
